*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  width: 1140px;
  margin: auto;
}
.result {
  display: flex;
  flex-direction: column;
  padding-top: 77px;
}
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 18px;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  cursor: pointer;
}
.search-form__fieldset {
  border: 0;
}
.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding-bottom: 2px;
}
.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  padding-top: 4px;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form__textfield {
  min-width: 225px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  padding-bottom: 5px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
  appearance: none;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}
.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  width: fit-content;
}
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  outline: #ffffff solid 1px;
  cursor: pointer;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #ffffff;
}
.button {
  align-items: center;
  min-height: 34px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}
.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
.button:active {
  background-color: #545050;
}
.search-form__submit-button {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 194px;
}
.content__details {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 100%;
  height: 100%;
  padding-right: 5px;
}
.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  padding-top: 5px;
}
.content__accent {
  color: #545050;
}
.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 399px;
  height: 298px;
  overflow: auto;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__list-item {
  cursor: pointer;
}
.content__card-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

.content__card-link:active {
  background-color: #545050;
}
.content__card-link_current {
  background-color: #545050;
}
.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
}
.content__video-card-title {
  max-width: 192px;
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.content__video-card-thumbnail {
  flex-shrink: 0;
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
.more-button {
  width: 100%;
  margin-bottom: 7px;
}
/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
